
<header id="header">
    <div class="header-middle">
        <!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <div class="logo pull-left">
                        <a [routerLink]="['/']"><img src="~/Content/img/logo.png" alt="" /></a>
                        <img src="~/Content/img/partner2.png" class="side-logo" />
                    </div>

                </div>
                <div class="col-sm-4">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li *ngIf="user"><a [routerLink]="['/users/user-detail', user.ID]"><i class="fa fa-user"></i>{{user.UserName}}</a></li>
                            <li *ngIf="isSignedIn" class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle">
                                    <i class="fa fa-bell-o" aria-hidden="true" (click)="GetMessage()"></i>
                                </a>
                                <div class="noti_count" *ngIf="count > 0">
                                    {{count}}
                                </div>
                                <div class="dropdown-menu">
                                    <ul class="noti_mess" *ngIf="mess != []">
                                        <li class="dropdown">
                                            <i class="fa fa-caret-up" aria-hidden="true" style="color:white"></i>
                                        </li>
                                        <li *ngFor="let message of mess">
                                            <a style="color:black" (click)="MarkAsRead(0, message.Description)" *ngIf="message.IsRead == true">{{message.Description}} </a>
                                            {{message.Description}}
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li><a [routerLink]="['/orders']"><i class="fa fa-shopping-cart"></i> Cart</a></li>
                            <li *ngIf="!isSignedIn"><a [routerLink]="['/login']"><i class="fa fa-lock"></i> Login</a></li>
                            <li *ngIf="isSignedIn"><a (click)="logout()" href="javascript:void(0)"><i class="fa fa-lock"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-middle-->

    <div class="header-bottom">
        <!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li id="home"><a [routerLink]="['']" class="active">Home</a></li>
                            <li *ngIf="isSignedIn"><a [routerLink]="['/stores/store-add']">Create Store</a></li>
                            <li *ngIf="isSignedIn"><a [routerLink]="['/orders']">My Orders</a></li>
                            <li *ngIf="role == 'Admin'"><a [routerLink]="['/stores/store-approve-list']">Store List</a></li>
                            <li *ngIf="isSignedIn"><a [routerLink]="['/shippers']">Be a shipper</a></li>
                            <li *ngIf="role == 'Admin'"><a [routerLink]="['/shippers/shipperlist']">Approve Shipper</a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="search_box search_recommend">
                        <input type="text" placeholder="Search" (keyup)="SearchProduct()" (keyup.enter)="SetSearchKey()" [(ngModel)]="searchkey" />
                        <ul *ngIf="products" id="searchResult">
                            <li *ngFor="let product of products">
                                <a [routerLink]="['/products/product-detail', product.ID]">{{product.Name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/header-bottom-->
</header>
<div class="modal fade" id="noti_detail" style="overflow:hidden" role="dialog">
    <div class="modal-dialog modal-lg" *ngIf="systemMess != ''">
        <div class="modal-content" style="margin:100px">
            <h1>{{systemMess}}</h1>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //Handles menu drop down
        $('.dropdown-menu').find('form').click(function (e) {
            e.stopPropagation();
        });
    });
</script>
