<div class="row" style="padding:0px 30px 30px 30px">
    <h2 style="color:#425161">Stores match "{{searchname}}"</h2>
    <div style="border-top:1px solid #fe9a15"></div>
    <template [ngIf]="stores">
        <div *ngFor="let store of stores" style="max-height:226px">
            <a class="container search_container" [routerLink]="['/stores/store-detail', store.ID]">
                <div class="col-sm-3">
                    <img src="{{store.ImgLink}}" class="img-responsive" style="object-fit:scale-down; max-height: 180px"/>
                </div>
                <div class="col-sm-3" style="margin-top:50px; font-size:larger">
                    Name: {{store.Name}}<br />
                    Des: {{store.Description}} <br />
                    Created Date: {{store.CreatedDate | date}}
                </div>
            </a>
        </div>
    </template>

    <div style="padding:20px 0px 20px 0px"></div>
    <h2 style="color:#425161">Products match "{{searchname}}"</h2>
    <div style="border-top:1px solid #fe9a15"></div>
    <template [ngIf]="products">
        <div *ngFor="let product of products">
            <template [ngIf]="product.Status == 'Available'">
                <div class="col-sm-3">
                    <a class="product-image-wrapper" [routerLink]="['/products/product-detail', product.ID]">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="{{product.ThumbailLink}}" alt="" />
                                <p>{{product.Name}}</p>
                                <p class="price">{{product.Price | currency:'USD':true:'1.0-0'}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            </template>
        </div>
    </template>
</div>