@Html.Partial("~/Views/Shared/Slider.cshtml")
@Html.Partial("~/Views/Shared/SideBar.cshtml")
<div class="container">
    <div class="row">
        <div class="col-sm-9">
            <div class="features_items" *ngIf="products" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
                <!--features_items-->
                <div class="clearfix"></div>
                <div *ngFor="let product of products">
                        <div class="col-sm-3 product-card">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <a [routerLink]="['/products/product-detail', product.ID]"><img src="{{product.ThumbailLink}}" alt="" /></a>
                                        <a [routerLink]="['/products/product-detail', product.ID]"><p>{{product.Name}}</p></a>
                                        <p class="price">{{product.Price | currency:'vnd'}}</p>
                                        <button class="btn btn-default add-to-cart" (click)="AddToCart(product.ID)"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                </div>
                <div class="clearfix"></div>
            </div><!--features_items-->
        </div>
    </div>
</div>
<div class="action_noti" id="cartMess" hidden>
    <label style="margin:10px">Added successfully!</label>
</div>
<div class="error_noti" id="errMess" hidden>
    <label style="margin:10px">{{message}}</label>
</div>




