<div class="col-sm-9" *ngIf="partners">
    <ul class="nav nav-tabs">
        <li><a data-toggle="tab" href="#menu1">Applying</a></li>
        <li><a data-toggle="tab" href="#menu2">Working</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <h3>Applying</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let partner of partners">
                        <template [ngIf]="partner.isWorking == false">
                            <td>
                                <a class="fa fa-times" aria-hidden="true" (click)="RemovePartner(partner.ID)" href="#"></a>
                            </td>
                            <td>
                                {{partner.UserName}}
                            </td>
                            <td>
                                <button (click)="Approve(partner.ID)" class="btn btn-success">Approve</button>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="menu2" class="tab-pane fade">
            <h3>Working</h3>
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let partner of partners">
                        <template [ngIf]="partner.isWorking == true">
                            <td>
                                {{partner.UserName}}
                            </td>
                            <td>
                                <button (click)="RemovePartner(partner.ID)" class="btn btn-success">Remove</button>
                            </td>
                        </template>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
